<div class="row animes-marge">
  <div class="col-sm-6">
    <div class="card w-100 ">
      <div class="card-body">
        <h5 class="card-title">Naruto</h5>
        <div class="row">
          <div class="col">
            <p class="card-text">Naruto (ナルト?) é uma série de mangá escrita e ilustrada por Masashi Kishimoto, 
              que conta a história de Naruto Uzumaki, um jovem ninja que 
              constantemente procura por reconhecimento e sonha em se tornar Hokage, o ninja líder de sua vila.
              </p>
          </div>
          <div class="col">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYJQ_PJfiMRrUeK9sLWPD3PkTwN8IaD17dKXC4F73-Rk1ipunfGA&s"
              alt="..." style="width: 10rem;">
          </div>
          
        </div>
        <br>
        <a href="#" class="btn btn-primary">Adicionar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
      <div class="card w-100" >
        <div class="card-body">
          <h5 class="card-title">Boku no Hero Academia</h5>
          <div class="row">
            <div class="col">
              <p class="card-text">Boku no Hero Academia (僕ぼくのヒーローアカデミア Boku no Hīrō Akademia?, 
                lit. "Minha Academia de Heróis"), também conhecido 
                como My Hero Academia no ocidente, é uma série de mangá escrita e ilustrada por Kōhei Horikoshi.
                </p>
            </div>
            <div class="col">
              <img
                src="https://upload.wikimedia.org/wikipedia/en/2/29/My_Hero_Academia_Season_3_Blu-Ray.jpg"
                alt="..." style="width: 10rem;">
            </div>
            
          </div>
          <br>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 animes-card-marge">
      <div class="card w-100 " >
        <div class="card-body">
          <h5 class="card-title">Boku no Hero Academia</h5>
          <div class="row">
            <div class="col">
              <p class="card-text">Boku no Hero Academia (僕ぼくのヒーローアカデミア Boku no Hīrō Akademia?, 
                lit. "Minha Academia de Heróis"), também conhecido 
                como My Hero Academia no ocidente, é uma série de mangá escrita e ilustrada por Kōhei Horikoshi.
                </p>
            </div>
            <div class="col">
              <img
                src="https://upload.wikimedia.org/wikipedia/en/2/29/My_Hero_Academia_Season_3_Blu-Ray.jpg"
                alt="..." style="width: 10rem;">
            </div>
            
          </div>
          <br>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card w-100" >
        <div class="card-body">
          <h5 class="card-title">Boku no Hero Academia</h5>
          <div class="row">
            <div class="col">
              <p class="card-text">Boku no Hero Academia (僕ぼくのヒーローアカデミア Boku no Hīrō Akademia?, 
                lit. "Minha Academia de Heróis"), também conhecido 
                como My Hero Academia no ocidente, é uma série de mangá escrita e ilustrada por Kōhei Horikoshi.
                </p>
            </div>
            <div class="col">
              <img
                src="https://upload.wikimedia.org/wikipedia/en/2/29/My_Hero_Academia_Season_3_Blu-Ray.jpg"
                alt="..." style="width: 10rem;">
            </div>
            
          </div>
          <br>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card w-100" >
        <div class="card-body">
          <h5 class="card-title">Boku no Hero Academia</h5>
          <div class="row">
            <div class="col">
              <p class="card-text">Boku no Hero Academia (僕ぼくのヒーローアカデミア Boku no Hīrō Akademia?, 
                lit. "Minha Academia de Heróis"), também conhecido 
                como My Hero Academia no ocidente, é uma série de mangá escrita e ilustrada por Kōhei Horikoshi.
                </p>
            </div>
            <div class="col">
              <img
                src="https://upload.wikimedia.org/wikipedia/en/2/29/My_Hero_Academia_Season_3_Blu-Ray.jpg"
                alt="..." style="width: 10rem;">
            </div>
            
          </div>
          <br>
          <a href="#" class="btn btn-primary">Adicionar</a>
        </div>
      </div>
    </div>

  </div>