#font-color{
    color: white;
}

.center {
    margin: auto;
    width: auto;
    padding: 10px;
    color: white;
}


.top-position-center {
    text-align:center;
}

.top-position {
    float: right;
}
.margem {
    margin-left: 10px;
    margin-right: 10px;
}