<div class="container">
    <br>
    <div class="jumbotron">
        <div class="row">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYJQ_PJfiMRrUeK9sLWPD3PkTwN8IaD17dKXC4F73-Rk1ipunfGA&s"
                alt="..." style="width: 10rem;">
            <h1 class="display-4">Hello, world!</h1>

            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success active">
                    <input type="checkbox" checked autocomplete="off"> Assistido
                </label>
            </div>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success active">
                    <input type="checkbox" checked autocomplete="off"> Baixado
                </label>
            </div>
        </div>

    </div>
    <div href="#" class="list-group-item comment-margin">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">USERNAME</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.
        </p>
    </div>
    <div href="#" class="list-group-item comment-margin">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">USERNAME</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.
        </p>
    </div>



    <br>

    <div class="row">

        <div class="col">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col">
            <a class="btn btn-primary">Enviar</a>
        </div>
    </div>
</div>