.comment-margin {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .top-position {
    float: right;
}
.margem {
    margin-left: 10px;
    margin-right: 10px;
}

.center {
  margin: auto;
  width: auto;
  padding: 10px;
}